<!doctype html>
<html>

<head>
    <title>Meadowlark Travel</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body>
    <div class="container-fluid" align="center">
        <header>
            <div id="logo">
                <blockquote>Hello</blockquote>
                <img class="img-thumbnail"  src="/img/cclub.jpg" alt="Linux Mint - Fast and Efficient">
            </div>
        </header>
    </div>

    <div class="container" align="center">
        {{{body}}}
    </div>

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.2.1.js"></script>
</body>

</html>